<div class="container mx-auto px-5">
  <ng-container [ngSwitch]="notice">
    <bk-notice
      *ngSwitchCase="callbackEvents.AccountActivationSuccess"
      mode="success"
      i18n-message
      message="Awesome, your account is now activated!"
      (close)="onCloseNotice()"
    ></bk-notice>

    <bk-notice
      *ngSwitchCase="callbackEvents.AccountActivationFailed"
      mode="error"
      i18n-message
      message="OOps, We could not activate your account! Please contact the support."
      (close)="onCloseNotice()"
    ></bk-notice>

    <bk-notice
      *ngSwitchCase="callbackEvents.ResetPasswordVerificationFailed"
      mode="error"
      i18n-message
      message="
        OOps, We could not verify the password recovery link. Please try again or contact the support.
      "
      (close)="onCloseNotice()"
    ></bk-notice>
  </ng-container>

  <bk-header></bk-header>
</div>

<main class="container mx-auto pb-8 pt-4 mt-5 px-5">
  <section class="py-3 px-0">
    <bk-grid-header>
      <div bk-grid-header-title>
        <h2 class="text-neutral-300" i18n>Recommended Tracks</h2>
      </div>

      <div bk-grid-header-actions>
        <a
          routerLink="browse"
          mat-stroked-button
          class="text-neutral-300"
          [queryParams]="{tags: 'recommended'}"
          i18n
        >
          View More
        </a>
      </div>
    </bk-grid-header>

    <bk-post-grid>
      <ng-container *ngFor="let p of latestRecommendedPost">
        <a [routerLink]="p | postLink">
          <bk-post-tile [post]="p"></bk-post-tile>
        </a>
      </ng-container>
      <ng-container *ngIf="loading">
        <bk-post-tile *ngFor="let d of demoArr"></bk-post-tile>
      </ng-container>
    </bk-post-grid>
  </section>

  <section class="py-3 px-0">
    <bk-grid-header>
      <div bk-grid-header-title>
        <h2 class="text-neutral-300">Recent Drill Tracks</h2>
      </div>

      <div bk-grid-header-actions>
        <a
          routerLink="browse"
          mat-stroked-button
          class="text-neutral-300"
          [queryParams]="{genres: 'drill'}"
          i18n
        >
          View More
        </a>
      </div>
    </bk-grid-header>

    <bk-post-grid>
      <ng-container *ngFor="let p of latestDrillPost">
        <a [routerLink]="p | postLink">
          <bk-post-tile [post]="p"></bk-post-tile>
        </a>
      </ng-container>
      <ng-container *ngIf="loading">
        <bk-post-tile *ngFor="let d of demoArr"></bk-post-tile>
      </ng-container>
    </bk-post-grid>
  </section>

  <section class="py-3 px-0">
    <bk-grid-header>
      <div bk-grid-header-title>
        <h2 class="text-neutral-300" i18n>Recent Trap Tracks</h2>
      </div>

      <div bk-grid-header-actions>
        <a
          routerLink="browse"
          mat-stroked-button
          class="text-neutral-300"
          [queryParams]="{genres: 'trap'}"
          i18n
        >
          View More
        </a>
      </div>
    </bk-grid-header>

    <bk-post-grid>
      <ng-container *ngFor="let p of latestTrapPost">
        <a [routerLink]="p | postLink">
          <bk-post-tile [post]="p"></bk-post-tile>
        </a>
      </ng-container>
      <ng-container *ngIf="loading">
        <bk-post-tile *ngFor="let d of demoArr"></bk-post-tile>
      </ng-container>
    </bk-post-grid>
  </section>
</main>
