<div class="container mx-auto px-5">
  <ng-container [ngSwitch]="notice">
    <bk-notice
      *ngSwitchCase="callbackEvents.AccountActivationSuccess"
      [mode]="'success'"
      [message]="'Awesome, your account is now activated!'"
      (close)="onCloseNotice()"
    ></bk-notice>

    <bk-notice
      *ngSwitchCase="callbackEvents.AccountActivationFailed"
      [mode]="'error'"
      [message]="'OOps, We could not activate your account! Please contact the support.'"
      (close)="onCloseNotice()"
    ></bk-notice>

    <bk-notice
      *ngSwitchCase="callbackEvents.ResetPasswordVerificationFailed"
      [mode]="'error'"
      [message]="
        'OOps, We could not verify the password recovery link. Please try again or contact the support.'
      "
      (close)="onCloseNotice()"
    ></bk-notice>
  </ng-container>

  <bk-header></bk-header>
</div>

<main class="container mx-auto px-5">
  <section class="py-6 px-0">
    <bk-gird-header>
      <div bk-section-divider-title>
        <h2>Recommended Tracks</h2>
      </div>

      <div bk-section-divider-actions>
        <a routerLink="browse" [queryParams]="{tags: 'recommended'}" mat-stroked-button>
          View More
        </a>
      </div>
    </bk-gird-header>
  </section>
</main>
