<main class="container mx-auto px-5 py-12">
  <h1 class="text-2xl text-neutral-200">Review Tracks</h1>
  <p class="text-neutral-400">You can decide which beats have the chance to get published</p>

  <div *ngIf="loading" class="flex justify-center py-4">
    <mat-spinner [diameter]="45"></mat-spinner>
  </div>

  <ng-container *ngIf="!loading">
    <ng-container
      *ngFor="let post of posts | paginate : {itemsPerPage: 10, currentPage: p}"
    >
      <bk-review-post-item
        [post]="post"
        [vote]="getPostReview(post)"
        (voteChange)="onVoteChange($event)"
      ></bk-review-post-item>
      <mat-divider></mat-divider>
    </ng-container>
    <div class="flex justify-center py-4">
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </ng-container>
</main>