<div class="flex flex-col md:flex-row items-stretch">
  <div class="flex-[1] relative flex-grow">
    <svg width="100%" viewBox="0 0 1 1" fill="none" xmlns="http://www.w3.org/2000/svg">
      <rect width="1" height="1" />
    </svg>

    <div *ngIf="picture?.default" class="absolute inset-y-0 inset-x-0">
      <img
        width="100%"
        [alt]="alt"
        class="rounded opacity-80"
        [src]="picture?.default | downloadLink"
      />
    </div>
  </div>
  <div class="flex-[3.2] flex flex-col items-stretch justify-end">
    <div class="mt-6 md:mt-0 px-0 md:px-9">
      <h1 class="text-2xl text-neutral-100">{{ title }}</h1>
      <p class="text-neutral-400">{{ artist }}</p>
    </div>

    <div class="my-6 px-0 md:px-9">
      <bk-audio-player [src]="audio?.original | downloadLink"></bk-audio-player>
    </div>

    <div
      class="flex flex-col md:flex-row items-stretch md:justify-between ml-1 px-0 md:pl-8 md:pr-6"
    >
      <div
        class="flex flex-col md:flex-row items-stretch md:items-center text-neutral-300"
      >
        <div
          *ngIf="post?.genres?.length"
          class="md:bg-neutral-800 rounded-full my-2 md:my-0 px-0 md:px-4 py-0 md:py-2 mr-0 md:mr-5"
        >
          <span class="text-neutral-400 mr-2"
            >Genre<span *ngIf="(post?.genres?.length || 0) > 1">s</span>:
          </span>
          <ng-container *ngFor="let g of post?.genres; index as i">
            <span>{{ g.title }}</span>
            <span *ngIf="i !== (post?.genres?.length || 0) - 1">, </span>
          </ng-container>
        </div>
        <div
          *ngIf="post?.tags?.length"
          class="md:bg-neutral-800 rounded-full my-2 md:my-0 px-0 md:px-4 py-0 md:py-2"
        >
          <span class="text-neutral-400 mr-2"
            >Tag<span *ngIf="(post?.tags?.length || 0) > 1">s</span>:
          </span>
          <ng-container *ngFor="let t of post?.tags; index as i">
            <span>{{ t.title }}</span>
            <span *ngIf="i !== (post?.tags?.length || 0) - 1">, </span>
          </ng-container>
        </div>
      </div>

      <div class="flex md:hidden lg:flex flex-col md:flex-row py-5 md:py-0 items-stretch">
        <a target="_blank" [href]="audio?.original | downloadLink" mat-stroked-button>
          <mat-icon>download</mat-icon>
          <span>Download</span>
        </a>
      </div>

      <a
        class="!hidden md:!inline-block lg:!hidden"
        target="_blank"
        [href]="audio?.original | downloadLink"
        mat-icon-button
      >
        <mat-icon>download</mat-icon>
      </a>
    </div>
  </div>
</div>
