<div class="min-h-screen flex items-center justify-center">
  <form
    *ngIf="!done"
    [formGroup]="form"
    (submit)="onSubmit()"
    class="flex flex-col w-96 py-4 mx-6"
  >
    <h1 class="text-2xl font-semibold my-2" i18n="@@signUp">Sign up</h1>

    <p class="text-base py-3 mb-2" i18n="@@signUpPrompt">
      Welcome to Beatkhor. Please fill this form to create a shiny new account.
    </p>

    <mat-form-field class="my-3" appearance="fill">
      <mat-label i18n="@@email">Email</mat-label>
      <input
        matInput
        type="text"
        name="email"
        spellcheck="false"
        formControlName="email"
      />
      <mat-icon matSuffix>person</mat-icon>
      <mat-hint i18n="@@signUpEmailHint">
        We will send the activation link to this email.
      </mat-hint>
      <mat-error i18n="@@signUpEmailRequired">
        Please enter your email or username!
      </mat-error>
    </mat-form-field>

    <mat-form-field class="my-3" appearance="fill">
      <mat-label i18n="@@password">Password</mat-label>
      <input matInput type="password" name="password" formControlName="password" />
      <mat-icon matSuffix>lock</mat-icon>
      <mat-hint i18n="@@passwordHint">
        A password should include at least 6 characters.
      </mat-hint>
      <mat-error i18n="@@passwordInvalid">Please enter at least 6 characters!</mat-error>
    </mat-form-field>

    <mat-form-field class="my-3" appearance="fill">
      <mat-label i18n="@@confirmPassword">Confirm password</mat-label>
      <input
        matInput
        type="password"
        name="confirmPassword"
        formControlName="confirmPassword"
      />
      <mat-icon matSuffix>lock</mat-icon>
      <mat-hint i18n="@@confirmPasswordHint">
        Please type your password again to confirm
      </mat-hint>

      <mat-error
        i18n="@@confirmPasswordMismatchError"
        *ngIf="form.get('confirmPassword')?.hasError('mismatch')"
      >
        The passwords do not match together
      </mat-error>

      <mat-error
        i18n="@@confirmPasswordRequiredError"
        *ngIf="form.get('confirmPassword')?.hasError('required')"
      >
        Please re-enter your password
      </mat-error>
    </mat-form-field>

    <button mat-flat-button class="my-3 mt-5" color="primary" type="submit">
      <span *ngIf="isLoading" i18n="@@pleaseWait">Please wait...</span>
      <span *ngIf="!isLoading" i18n="@@signUp">Sign up</span>
    </button>

    <a mat-stroked-button color="primary" type="button" routerLink="/">
      <span i18n="@@goBack">Go back</span>
    </a>

    <div class="my-5 text-sm text-neutral-300">
      <p class="my-2">
        <span i18n="@@signInHelper">Already have an account? </span>
        <a class="text-primary-500" routerLink="/authentication/signin">
          <span i18n="@@signInNow">sign in now!</span>
        </a>
        <span>.</span>
      </p>

      <p class="my-2">
        <span i18n="@@passwordRecoveryHelper">
          Have an account and forgotten your password? you can easily
        </span>
        <a class="text-primary-500" routerLink="/authentication/reset-password/request">
          <span i18n="@@recoverPasswordNow">recover your password here</span>
        </a>
        <span>.</span>
      </p>
    </div>
  </form>

  <div *ngIf="done" class="flex flex-col w-96 py-4 mx-6">
    <h1 class="text-2xl font-semibold my-2" i18n="@@signUpDoneTitle">One More Step...</h1>

    <p class="py-4" i18n="@@signUpDonePrompt">
      Congrats! We just sent you an email that contains the verification link. You can
      sign in after activating your account.
    </p>

    <a class="my-3" mat-stroked-button color="primary" type="button" routerLink="/">
      <span i18n="@@goBack">Go back</span>
    </a>
  </div>
</div>
