<div class="min-h-screen flex items-center justify-center">
  <form [formGroup]="form" (submit)="onSubmit()" class="flex flex-col w-96 py-4 mx-6">
    <h1 class="text-2xl font-semibold my-2" i18n="@@setupYourProfile">
      Setup your profile
    </h1>

    <p class="py-4" i18n="@@setupYourProfilePrompt">
      Now it's time to setup your beatkhor profile. Please provide the details below and
      choose a unique username for yourself.
    </p>

    <mat-form-field class="my-3" appearance="fill">
      <mat-label i18n="@@firstName">First name</mat-label>
      <input matInput formControlName="first_name" type="text" name="first_name" />
      <mat-hint i18n="@@firstNameHint">Will be displayed on public profile</mat-hint>
      <mat-error i18n="@@firstNameError">Please enter your first name</mat-error>
    </mat-form-field>

    <mat-form-field class="my-3" appearance="fill">
      <mat-label i18n="@@lastName">Last name</mat-label>
      <input matInput formControlName="last_name" type="text" name="last_name" />
      <mat-hint i18n="@@lastNameOptionalHint">
        Entering the last name is optional
      </mat-hint>
      <mat-error i18n="@@lastNameError">Please enter your last name</mat-error>
    </mat-form-field>

    <mat-form-field class="my-3" appearance="fill">
      <mat-label i18n="@@username">Username</mat-label>
      <input
        matInput
        type="text"
        name="username"
        spellcheck="false"
        formControlName="username"
      />

      <mat-error *ngIf="form.get('username')?.hasError('minLength')">
        <span i18n="@@usernameMinCharError">
          Username should be at least 4 characters.
        </span>
      </mat-error>

      <mat-error *ngIf="form.get('username')?.hasError('usernameValid')">
        <span i18n="@@usernameValidError">
          Username can only have a-z and 0-9 characters
        </span>
      </mat-error>

      <mat-hint *ngIf="form.get('username')?.invalid">
        <span i18n="@@usernameHintDefault">Username can only have a-z and 0-9</span>
      </mat-hint>

      <mat-hint *ngIf="form.get('username')?.valid && searchedOnce">
        <span *ngIf="isUsernameAvailable" i18n="@@usernameAvailable">
          Cool, this username is available!
        </span>
        <span
          class="text-red-400"
          *ngIf="!isUsernameAvailable"
          i18n="@@usernameUnavailable"
        >
          This username is taken! Try something else.
        </span>
      </mat-hint>

      <div
        *ngIf="form.controls['username'].valid && usernameLoading"
        class="spinner-container"
        matSuffix
      >
        <mat-spinner [diameter]="23"></mat-spinner>
      </div>

      <mat-icon
        matSuffix
        class="text-accent-200"
        *ngIf="
          form.controls['username'].valid &&
          form.value['username'] &&
          !usernameLoading &&
          isUsernameAvailable
        "
      >
        done
      </mat-icon>
      <mat-icon
        matSuffix
        color="warn"
        *ngIf="
          form.controls['username'].valid &&
          form.value['username'] &&
          !usernameLoading &&
          !isUsernameAvailable
        "
      >
        close
      </mat-icon>
    </mat-form-field>

    <button mat-flat-button class="my-4 mt-6" color="primary" type="submit">
      <span *ngIf="isLoading" i18n="@@pleaseWait">Please wait...</span>
      <span *ngIf="!isLoading" i18n="@@continue">Continue</span>
    </button>
  </form>
</div>
