<div class="container mx-auto px-5 py-10 text-neutral-200">
  <h1 class="text-2xl" i18n>Upload your track</h1>
  <p class="text-neutral-400" i18n>Provide these information to upload your beat.</p>

  <div class="py-6 mb-4" [formGroup]="form">
    <div class="flex py-3 flex-col lg:flex-row">
      <mat-form-field class="grow">
        <mat-label i18n>Title</mat-label>
        <input required formControlName="title" matInput />
        <mat-error i18n>Please provide a title for your track</mat-error>
        <mat-hint i18n>People might search your track with this name.</mat-hint>
      </mat-form-field>

      <mat-form-field
        [floatLabel]="'always'"
        class="grow mx-0 lg:mx-4 my-4 lg:my-0 cursor-pointer"
        (click)="onGenre()"
      >
        <mat-label *ngIf="selectedGenres.length" i18n>Select Genres</mat-label>
        <input
          readonly
          required
          matInput
          [disabled]="loading"
          class="cursor-pointer"
          i18n-placeholder
          placeholder="Select Genres*"
          [value]="selectedGenres"
        />
        <mat-hint i18n>Click on the field to select genres</mat-hint>
      </mat-form-field>

      <mat-form-field
        [floatLabel]="!selectedTags.length ? 'auto' : 'always'"
        class="grow cursor-pointer"
        (click)="onTag()"
      >
        <mat-label *ngIf="selectedTags.length" i18n>Select Tags</mat-label>
        <input
          readonly
          matInput
          [disabled]="loading"
          class="cursor-pointer"
          i18n-placeholder
          placeholder="Select Tags"
          [value]="selectedTags"
        />
        <mat-hint i18n>Helps people to find the track easier</mat-hint>
      </mat-form-field>
    </div>

    <div class="flex py-3">
      <mat-form-field class="grow">
        <mat-label i18n>Description</mat-label>
        <textarea formControlName="description" matInput rows="1"></textarea>
        <mat-hint i18n>Any other kind of information about this track</mat-hint>
      </mat-form-field>
    </div>
  </div>

  <section class="flex flex-col md:flex-row">
    <div class="flex-grow">
      <bk-upload-file-picker
        i18n-title
        title="Audio file"
        accept=".mp3,.wav"
        i18n-subtitle
        subtitle="Click to add an .mp3 or .wav audio file"
        (fileChange)="audioMediaUpload = $event"
      ></bk-upload-file-picker>
    </div>

    <div class="flex-grow">
      <bk-upload-file-picker
        i18n-title
        title="Cover art file"
        accept=".jpeg,.jpg"
        i18n-subtitle
        subtitle="Click to add an .jpg or .jpeg image file"
        (fileChange)="onImageSelected($event)"
      ></bk-upload-file-picker>
    </div>
  </section>

  <div
    *ngIf="!uploading && !finalizing"
    class="flex flex-col sm:flex-row-reverse items-stretch sm:items-center"
  >
    <button mat-flat-button color="primary" (click)="onSubmit()">
      <mat-icon>upload</mat-icon>
      <span i18n>Upload Now</span>
    </button>
    <a routerLink="/" class="mx-0 sm:mx-4 my-3 sm:my-0" mat-stroked-button i18n
      >Go Back</a
    >
    <div class="grow bg-neutral-700 h-[1px] hidden sm:block"></div>
  </div>

  <div *ngIf="uploading || finalizing" class="flex flex-col">
    <p i18n>Uploading...</p>
    <div class="flex flex-col items-stretch sm:items-center sm:flex-row">
      <mat-progress-bar
        [mode]="finalizing ? 'indeterminate' : 'determinate'"
        [value]="this.audioMediaUpload?.progress | async"
      ></mat-progress-bar>
      <a class="mx-0 sm:mx-4 my-4 sm:my-0" mat-stroked-button i18n>Cancel</a>
    </div>
  </div>
</div>
