<div class="flex flex-col sm:flex-row items-stretch sm:items-end py-6">
  <div class="mr-0 sm:mr-7 mb-5 sm:mb-0">
    <img
      *ngIf="post.pictures.length"
      class="w-full sm:w-36 rounded"
      [src]="picture?.default | downloadLink"
      [alt]="alt"
    />
  </div>
  <div class="flex flex-grow flex-col items-stretch py-1 pb-2">
    <div class="flex justify-between items-end mb-4">
      <div class="flex flex-col">
        <div class="text-neutral-200 text-lg">{{ title }}</div>
        <div class="text-sm text-neutral-400">
          {{ artist }}
        </div>
      </div>

      <div class="flex items-center">
        <div class="flex bg-neutral-800 rounded items-center">
          <button mat-icon-button (click)="onDownVote()" class="!pt-2.5">
            <mat-icon [class.text-primary-500]="isDownVote" class="text-xl">
              thumb_down
            </mat-icon>
          </button>
          <button mat-icon-button (click)="onUpVote()" class="!pt-2.5">
            <mat-icon [class.text-primary-500]="isUpVote" class="text-xl">
              thumb_up
            </mat-icon>
          </button>
        </div>
      </div>
    </div>

    <bk-audio-player [src]="audio?.original | downloadLink"></bk-audio-player>
  </div>
</div>
